#title {
    color:  #7AE9FA ;
    text-shadow: -3px 3px #ffffff, -3px -3px #ffffff, 3px -3px #ffffff, 3px 3px #f3f3f2, 6px 6px #6ac7c2;
    font-family: 'Patrick Hand', cursive;
    font-size: 60px ;  
    text-align: center;
}

#texto1 {
    color: black;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

#body {
    background-color: #FFF7E1 ;
    margin-top: 5px;
    margin-bottom: 45px;
    margin-left: 30px;
    margin-right: 30px;
}

