
#title {
    color:  #7AE9FA ;
    text-shadow: -3px 3px #ffffff, -3px -3px #ffffff, 3px -3px #ffffff, 3px 3px #f3f3f2, 6px 6px #6ac7c2;
    font-family: 'Architects Daughter', cursive;
    font-size: 60px ;  
    text-align: center;
}

#texto1 {
    color: black;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

#body {
    background-color:#EDFBFE ;
    margin-top: 50px;
    margin-bottom: 45px;
    margin-left: 30px;
    margin-right: 30px;
}

.accordion_button{
    display:ruby;
    width: 100%;
    padding: 20px;
    font-family: 'Architects Daughter', cursive;
    border-radius: 2px;
    cursor: pointer;  
    background: #94E6F8;
    color: white;
    font-weight: bold;
    text-align: center;
    transition: 0.2s;
}

.accordion_button::after{
    content: '\25be';
    float: right;    
    transform: scale(2.0);
}

.accordion_button--active{
    background: #81D6FE;
}
.accordion_button::after{
    content: '\25b4';
}

.accordion_content{
    overflow: hidden;
    width: 100%;
    max-height: 0;
    transition: 0.2s;
    padding: 0 15px;
    font-family: 'Architects Daughter', cursive;
    background:#D1EDFB;
}

.button_Cuadrado{
    background-color: #CDDEF9;
    color:#022050;
    font-weight: bold;
    font-family:  'Josefin Sans', sans-serif;
} 

